{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>

    <form action="{% url 'category' %}" method="get">
        <div class="form-group" id="category-form">
            <select class="form-control" id="select-category" name="category">
                {% for category in categories %}
                    <option value="{{ category.id }}" name="category">{{ category }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-primary" type="submit" value="See listings">
        </div>
    </form>

    {% for listing in listings %}
        <div class="listing" onclick="location.href='{% url 'listing' listing.id %}';" style="cursor: pointer;">
            <div class="listingImage">
                <img src="{{ listing.image }}" alt="Listing image">
            </div>
            <div class="listingInfo">
                <h3 class="listingTitle">{{ listing.title }}</h3>
                <p class="listingPrice"><b>Price:</b> ${{ listing.currentPrice }}</p>
                <p class="listingDescription">{{ listing.description }}</p>
                <p class="listingDate">Created on {{ listing.creationDate }}</p>
            </div>
        </div>
    {% empty %}
        <p>No listing in this category.</p>
    {% endfor %}
{% endblock %}