{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    {% for listing in listings %}
        <div class="listing" onclick="location.href='{% url 'listing' listing.id %}';" style="cursor: pointer;">
            <div class="listingImage">
                <img src="{{ listing.image }}" alt="Listing image">
            </div>
            <div class="listingInfo">
                <h3 class="listingTitle">{{ listing.title }}</h3>
                <p class="listingPrice"><b>Price:</b> ${{ listing.currentBid }}</p>
                <p class="listingDescription">{{ listing.description }}</p>
                <p class="listingDate">Created on {{ listing.creationDate }}</p>
            </div>
        </div>
    {% empty %}
        <p>No listing in watchlist.</p>
    {% endfor %}
{% endblock %}